In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
xl = pd.ExcelFile("NWM_data_updated.xlsx", engine='openpyxl')
a=xl.sheet_names

In [2]:
#loading the data set
dataframe_collection = {}
i=0
for i in range(5):
    if i==0 or i==4 :
        dataframe_collection[i] = xl.parse(a[i],converters={"STAID_1":str})
    else:
        dataframe_collection[i] = xl.parse(a[i])

In [3]:
dataframe_collection[4]

,STAID_1,Dist2Sea(degree),LandUse,SoilTexture-1layer,SoilTexture-2layer,SoilTexture-3layer,SoilTexture-4layer,SoilTexture-5layer,SoilTexture-6layer,SoilTexture-7layer,SoilTexture-8layer,SoilTexture-9layer,SoilTexture-10layer,TopographyIndex,DrainageArea(sqml)
0,02397000,3.815427,3,4,4,4,4,4,8,16,16,16,15,7.169294,115

In [4]:
obsflow = dataframe_collection[2]
modelflow= dataframe_collection[3]

In [9]:
dataframe_collection[0]

,STAID_1,Dist2Sea(degree),LandUse,SoilTexture-1layer,SoilTexture-2layer,SoilTexture-3layer,SoilTexture-4layer,SoilTexture-5layer,SoilTexture-6layer,SoilTexture-7layer,SoilTexture-8layer,SoilTexture-9layer,SoilTexture-10layer,TopographyIndex,DrainageArea(sqml)
0,02217274,3.974170,1,3,3,3,7,12,12,12,12,3,15,7.578771,109.00
1,02217297,3.947508,3,3,3,3,12,12,12,12,12,3,15,7.340611,398.00
2,02217475,3.946926,3,3,3,3,12,12,12,12,12,3,15,7.444433,2950.00
3,02217615,4.119859,3,3,3,3,12,12,12,12,12,3,15,7.210577,3.05
4,02217643,4.080818,3,3,3,3,12,12,12,12,12,3,15,7.590834,275.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,02375000,0.431609,3,3,3,3,3,7,7,7,7,7,15,8.489074,394.00
381,03500000,5.079052,3,6,6,6,6,6,6,6,6,3,15,6.324007,436.00
382,03505550,5.207637,3,6,6,6,6,6,6,6,6,3,15,6.010764,3.60
383,03510577,5.322825,3,6,6,6,6,6,6,6,6,3,15,6.104362,352.00
384,03518500,5.158558,3,6,6,6,6,6,6,6,6,6,15,5.927726,104.00

In [ ]:

j=15
k=0
column_names = ["dis2sea","landUse","soilTexture1", "soilTexture2","soilTexture3","soilTexture4","soilTexture5","soilTexture6","soilTexture7","soilTexture8","soilTexture9","soilTexture10","topoIndex","drainageArea","ModelFlow","Obsflow"]
df = pd.DataFrame(columns = column_names)  
for index, row in dataframe_collection[0].iterrows():
    print(index)
    sta_id = dataframe_collection[0].iloc[index,0]
    dis2sea=dataframe_collection[0].iloc[index,1]
    land_use=dataframe_collection[0].iloc[index,2]
    soil_texture1=dataframe_collection[0].iloc[index,3]
    soil_texture2=dataframe_collection[0].iloc[index,4]
    soil_texture3=dataframe_collection[0].iloc[index,5]
    soil_texture4=dataframe_collection[0].iloc[index,6]
    soil_texture5=dataframe_collection[0].iloc[index,7]
    soil_texture6=dataframe_collection[0].iloc[index,8]
    soil_texture7=dataframe_collection[0].iloc[index,9]
    soil_texture8=dataframe_collection[0].iloc[index,10]
    soil_texture9=dataframe_collection[0].iloc[index,11]
    soil_texture10=dataframe_collection[0].iloc[index,12]
    topoindex = dataframe_collection[0].iloc[index,13]
    drainagearea =  dataframe_collection[0].iloc[index,14]
    obs = obsflow[sta_id]/drainagearea
    mod = modelflow[sta_id]/drainagearea

    for i in range(490):
        df.loc[k]=[dis2sea]+[land_use]+[soil_texture1]+[soil_texture2]+[soil_texture3]+[soil_texture4]+[soil_texture5]+[soil_texture6]+[soil_texture7]+[soil_texture8]+[soil_texture9]+[soil_texture10]+[topoindex]+[drainagearea]+[mod[i]]+[obs[i]]
        k=k+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104

In [ ]:
df4 =df.dropna()
df4
df4.to_csv('out_10day_lead_data.csv', sep='\t')

In [ ]:
df

In [ ]:
import pandas as pd 
df = pd.read_csv('out_10day_lead_data.csv',delimiter = '\t')

In [ ]:
df

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split


df=df.sample(frac=1).reset_index(drop=True)

df.iloc[:,16] = abs(df.iloc[:,16] - df.iloc[:,15])

df 

x, y = df.iloc[:, 1:16], df.iloc[:,16]

y = y.values.reshape(y.shape[0],1)


x_train, x_test, y_train, y_test = \
    train_test_split(x, y, test_size=0.1, 
                                 random_state=0)

In [ ]:
x_mean = x_train.mean(axis=0)
x_train -= x_mean
x_std = x_train.std(axis=0)
x_train /= x_std

x_test -= x_mean
x_test /= x_std 

y_mean = y_train.mean(axis=0)
y_train -=y_mean
y_std=y_train.std(axis=0)
y_train /=y_std

y_test -=y_mean
y_test /=y_std

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras import layers
from keras.layers import LSTM
from keras import backend as K 

 
import time
# Measuring the time taken by the model to train
StartTime=time.time()

    # Initialising the RNN
model= Sequential()

    # Adding the First input hidden layer and the LSTM layer
    # return_sequences = True, means the output of every time step to be shared with hidden next layer
model.add(layers.Dense(2, activation='relu',
input_shape=(x_train.shape[1],)))
model.add(layers.Dense(2, activation='relu'))
    #model.add(layers.Dropout(0.5))
model.add(layers.Dense(1))
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    

        # Fitting the RNN to the Training set
history=model.fit(x_train, y_train,validation_data=(x_test, y_test), batch_size = 1000, epochs = 13)
#istory=model.fit(x_train, y_train, batch_size = 1000, epochs = 20) 3
model.save('my_model_10_day.h5')
EndTime=time.time()
print("## Total Time Taken: ", round((EndTime-StartTime)/60), 'Minutes ##')

In [ ]:
y

In [9]:
import pandas as pd
df = pd.read_csv('out_10day_lead_data_single_station.csv',delimiter = '\t')

In [10]:
df

,Unnamed: 0,dis2sea,landUse,soilTexture1,soilTexture2,soilTexture3,soilTexture4,soilTexture5,soilTexture6,soilTexture7,soilTexture8,soilTexture9,soilTexture10,topoIndex,drainageArea,ModelFlow,Obsflow
0,10,3.815427,3.0,4.0,4.0,4.0,4.0,4.0,8.0,16.0,16.0,16.0,15.0,7.169294,115.0,2.021190,3.447268
1,11,3.815427,3.0,4.0,4.0,4.0,4.0,4.0,8.0,16.0,16.0,16.0,15.0,7.169294,115.0,1.851598,4.678436
2,13,3.815427,3.0,4.0,4.0,4.0,4.0,4.0,8.0,16.0,16.0,16.0,15.0,7.169294,115.0,1.765918,4.432202
3,14,3.815427,3.0,4.0,4.0,4.0,4.0,4.0,8.0,16.0,16.0,16.0,15.0,7.169294,115.0,1.622679,4.998539
4,15,3.815427,3.0,4.0,4.0,4.0,4.0,4.0,8.0,16.0,16.0,16.0,15.0,7.169294,115.0,1.676815,4.456825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,974,3.815427,3.0,4.0,4.0,4.0,4.0,4.0,8.0,16.0,16.0,16.0,15.0,7.169294,115.0,0.949141,0.975084
850,975,3.815427,3.0,4.0,4.0,4.0,4.0,4.0,8.0,16.0,16.0,16.0,15.0,7.169294,115.0,0.867391,0.883978
851,976,3.815427,3.0,4.0,4.0,4.0,4.0,4.0,8.0,16.0,16.0,16.0,15.0,7.169294,115.0,0.837880,0.888903
852,977,3.815427,3.0,4.0,4.0,4.0,4.0,4.0,8.0,16.0,16.0,16.0,15.0,7.169294,115.0,0.838696,0.817495
853,978,3.815427,3.0,4.0,4.0,4.0,4.0,4.0,8.0,16.0,16.0,16.0,15.0,7.169294,115.0,0.828554,0.654981

In [11]:
x, y = df.iloc[:, 1:16], df.iloc[:,16]

In [12]:
y

0      3.447268
1      4.678436
2      4.432202
3      4.998539
4      4.456825
         ...
849    0.975084
850    0.883978
851    0.888903
852    0.817495
853    0.654981
Name: Obsflow, Length: 854, dtype: float64

In [13]:
x-= x_mean
x /= x_std

In [14]:
x

,dis2sea,landUse,soilTexture1,soilTexture2,soilTexture3,soilTexture4,soilTexture5,soilTexture6,soilTexture7,soilTexture8,soilTexture9,soilTexture10,topoIndex,drainageArea,ModelFlow
0,0.606112,0.581133,0.595651,0.55724,0.3631,-0.280678,-0.9203,-0.418863,1.505809,1.396206,1.39645,0.231056,-0.615123,-0.320855,1.000324
1,0.606112,0.581133,0.595651,0.55724,0.3631,-0.280678,-0.9203,-0.418863,1.505809,1.396206,1.39645,0.231056,-0.615123,-0.320855,0.896141
2,0.606112,0.581133,0.595651,0.55724,0.3631,-0.280678,-0.9203,-0.418863,1.505809,1.396206,1.39645,0.231056,-0.615123,-0.320855,0.843507
3,0.606112,0.581133,0.595651,0.55724,0.3631,-0.280678,-0.9203,-0.418863,1.505809,1.396206,1.39645,0.231056,-0.615123,-0.320855,0.755514
4,0.606112,0.581133,0.595651,0.55724,0.3631,-0.280678,-0.9203,-0.418863,1.505809,1.396206,1.39645,0.231056,-0.615123,-0.320855,0.788770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,0.606112,0.581133,0.595651,0.55724,0.3631,-0.280678,-0.9203,-0.418863,1.505809,1.396206,1.39645,0.231056,-0.615123,-0.320855,0.341751
850,0.606112,0.581133,0.595651,0.55724,0.3631,-0.280678,-0.9203,-0.418863,1.505809,1.396206,1.39645,0.231056,-0.615123,-0.320855,0.291531
851,0.606112,0.581133,0.595651,0.55724,0.3631,-0.280678,-0.9203,-0.418863,1.505809,1.396206,1.39645,0.231056,-0.615123,-0.320855,0.273402
852,0.606112,0.581133,0.595651,0.55724,0.3631,-0.280678,-0.9203,-0.418863,1.505809,1.396206,1.39645,0.231056,-0.615123,-0.320855,0.273903
853,0.606112,0.581133,0.595651,0.55724,0.3631,-0.280678,-0.9203,-0.418863,1.505809,1.396206,1.39645,0.231056,-0.615123,-0.320855,0.267673

In [15]:
from keras.models import load_model
model = load_model('my_model_10_day.h5')
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
drainagearea=115

In [16]:
z=model.predict(x)

x= x*x_std
x=x+x_mean
x=x*drainagearea

y=y*drainagearea

z=z*y_std
z=z+y_mean
z=z*drainagearea

d_x= pd.DataFrame(x.iloc[:,14])
d_y=pd.DataFrame(y)
d_z=pd.DataFrame(z)

d_xy=pd.concat([d_x, d_y,d_z], axis=1)
d_xy.columns = ['Modelflow', 'Obsflow','Error']
d_xy

      Modelflow     Obsflow       Error
0    232.436870  396.435858  257.358074
1    212.933745  538.020093  235.366274
2    203.080620  509.703246  224.081451
3    186.608121  574.831994  205.215486
4    192.833746  512.534931  212.345716
..          ...         ...         ...
849  109.151248  112.134714  116.504032
850   99.749998  101.657481  105.736752
851   96.356248  102.223818  101.849893
852   96.449998   94.011932  101.957281
853   95.283748   75.322813  100.621568

[854 rows x 3 columns]

In [17]:
d_xy.to_csv("Error_WholeData_abs.csv")

In [ ]:
d_xy

In [ ]:
d_ab